{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <strong>人证比对</strong>
            </div>
            <form action="/match" method="post">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="file_idcard"><strong>身份证图片</strong></label>
                                <input type="file" class="form-control-file" accept="image/jpeg,image/png,image/gif"
                                       id="file_idcard">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="file_live"><strong>现场图片</strong></label>
                                <input type="file" class="form-control-file" accept="image/jpeg,image/png,image/gif"
                                       id="file_live">
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <button id="btn_match" class="btn  btn-primary" type="button" onclick="send_msg()">
                                    <i class="fa fa-dot-circle-o"></i> 人证比对
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <input type="text" id="msg_box" class="alert"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!--ajax-->
<script>
function send_msg(){
    $('#msg_box').val('')
    $("#btn_match").removeClass("btn-primary");
    $("#btn_match").addClass("btn-danger");
    var formData = new FormData();
    formData.append("file_idcard", document.getElementById("file_idcard").files[0]);
    formData.append("file_live", document.getElementById("file_live").files[0]);
    console.log(document.getElementById("file_live").files[0]);
    $.ajax({
        url:"/api/match",
        data:formData,
        type:"POST",
        cache:false,
        processData:false,
        contentType:false,
        success:function(data){
            $("#btn_match").removeClass("btn-danger");
            $("#btn_match").addClass("btn-primary");
            $("#msg_box").val(data.msg)
        },
        error: function(e){

        }
    })
}







</script>
{% endblock %}